html,
body {
  height: 100%;
}

body.container {
  background-image: url('/eds/images/background.jpg');
  background-repeat: round;
  background-attachment: fixed;
  width: 100% !important;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Roboto, sans-serif;

  padding: 0;
  margin: 0;
}

@media only screen and (min-device-width: 768px){
  .logo {
    max-width: 500px;
    margin: 5rem 5rem 0 0;
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
    width: 100%;
  }
  
  .row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: nowrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
    padding: 0 2rem;
  }

  .col-md-6{
    flex: 0 0 auto;
    width: 50%;
  }
}

@media only screen and (max-device-width: 767px){
  .logo {
    max-width: 250px;
    margin: auto;
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
    width: 100%;
  }
  
  .col-md-6{
    flex: 0 0 auto;
    width: 100%;
  }
}

.card {
  background-color: #fff;
  padding: 16px;
  margin: 2rem;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.container .card {
  max-width: 800px;
}

.card form {
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
}

.card-header h3 {
  margin: 6px 0 10px;
  color: #283661;
  font-weight: bold;
  font-size: 28px;
}

.card .MuiFormControl-root {
  border: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
  margin: 10px 0;
  width: 100%;
}

.card .MuiInputLabel-root {
  color: #666;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.00938em;

  z-index: 1;
  transform: translate(14px, -6px) scale(0.75);
  pointer-events: none;

  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;

  top: 0;
  left: 0;
  position: absolute;
}

.MuiFormControl-root .btn {
  width: 100%;
  padding: 8px 16px;
  font-size: 14px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-weight: 700;
  line-height: 2;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  background-color: #283661;
  color: #fff;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  user-select: none;
  text-decoration: none;
}

.MuiFormControl-root .btn:hover,
.MuiFormControl-root .btn:active,
.MuiFormControl-root .btn:focus {
  color: #fff;
}

.MuiFormControl-root .btn.btn-google .google-icon-wrapper .google-icon {
  position: absolute;
  margin-top: 8px;
  margin-left: 7px;
  left: 0;
  top: 0;
  max-width: 30px;
}

.MuiFormControl-root .btn.btn-google:active {
  background: #1669f2;
}

.MuiFormControl-root .btn.btn-facebook {
  background-color: rgb(60, 90, 154);
}

.MuiFormControl-root .btn.btn-facebook .facebook-icon-wrapper .facebook-icon {
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
}

.MuiFormControl-root .btn.btn-cilogon {
  background-color: rgb(0, 119, 181);
}

.MuiFormControl-root .btn.btn-cilogon .cilogon-icon-wrapper .cilogon-icon {
  position: absolute;
  margin-top: 7px;
  margin-left: 8px;
  left: 0;
  top: 0;
  max-width: 30px;
}

.MuiFormControl-root .btn.btn-cafe .cafe-icon-wrapper .cafe-icon {
  position: absolute;
  margin-top: 5px;
  margin-left: 8px;
  left: 0;
  top: 0;
  max-width: 30px;
}

.MuiFormControl-root .btn.btn-cafe {
  background-color: rgb(0, 119, 181);
}

.new-user{
  color: #283661;
  text-align: center;
  margin-top: 10px;
}

.terms-and-info {
  margin: 0 8px;
  max-width: 100%;
  text-align: justify;
}
.terms-and-info a,
.terms-and-info a:hover {
  color: #095ce0;
}

